.otp-input {
  width: 2em !important;
  text-align: center;
}

.otp-container {
  display: flex;
  /* align-content: center; */
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  /* justify-self: center; */
  justify-content: center;
}