#root {
  margin-top:0;
  margin-bottom: 0;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0px;
  padding-bottom: 0.25rem;
}
.custom-img {
  background-image: url("assets/bg-3.jpg");
}

.login-bg-image {
  background-image: url("assets/login-bg-1.jpg");
}

.header-gradient{
  background: rgb(22,39,59);
  background: -moz-linear-gradient(236deg, rgba(22,39,59,1) 0%, rgba(44,105,157,1) 35%, rgba(152,193,225,1) 100%);
  background: -webkit-linear-gradient(236deg, rgba(22,39,59,1) 0%, rgba(44,105,157,1) 35%, rgba(152,193,225,1) 100%);
  background: linear-gradient(236deg, rgba(22,39,59,1) 0%, rgba(44,105,157,1) 35%, rgba(152,193,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16273b",endColorstr="#98c1e1",GradientType=1);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
