.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr repeat(6, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 8px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 6;
}

.div2 {
    grid-area: 3 / 2 / 5 / 3;
}

.div3 {
    grid-area: 3 / 3 / 5 / 4;
}

.div4 {
    grid-area: 3 / 4 / 5 / 5;
}

.div5 {
    grid-area: 5 / 2 / 7 / 3;
}

.div6 {
    grid-area: 5 / 3 / 7 / 4;
}

.div7 {
    grid-area: 5 / 4 / 7 / 5;
}

.div8 {
    grid-area: 7 / 1 / 8 / 6;
}